<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.highfidelity.frameplayer"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">
    <uses-feature android:glEsVersion="0x00030002" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <uses-feature android:name="android.software.vr.mode" android:required="true"/>
    <uses-feature android:name="android.hardware.vr.high_performance" android:required="true"/>

    <application android:label="Frame Viewer"
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <meta-data android:name="minWaveSDKVersion" android:value="1" />

        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
            android:enableVrMode="@string/wvr_vr_mode_component"
            android:name=".ViveFramePlayer"
            android:label="Frame Player"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:excludeFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.htc.intent.category.VRAPP" />
            </intent-filter>
            <!-- JNI nonsense -->
            <meta-data android:name="android.app.lib_name" android:value="viveFramePlayer"/>
        </activity>
        <activity
            android:name="com.htc.vr.sdk.VRNativeActivity"
            tools:node="remove" />
        <!--Please consider the DoF support of HMD and controller individually for your content.-->
        <!--Set value “3DoF” if your content only considers the rotation pose. -->
        <!--Set value “6DoF” if your content considers both rotation and position pose. -->
        <!--Set value “3,6DoF” if your content is capable of supporting both 3 and 6 DoF playing. -->
        <meta-data android:name="com.htc.vr.content.NumDoFHmd" android:value="3,6DoF"/>
        <meta-data android:name="com.htc.vr.content.NumDoFController" android:value="3,6DoF"/>

        <!--The value could be 0, 1 or 2. Use comma(,) between value if your content can support multiple cases.-->
        <!--Set value “0” if your content supports gaze mode only. -->
        <!--Set value “1” if your content only supports playing with one controler. -->
        <!--Set value “1,2” if your content supports playing with either one controler or two controlers. -->
        <!--Set value “0,1,2” if your content supports all cases, which mean user can play by gaze mode, one controller or two controllers. -->
        <meta-data android:name="com.htc.vr.content.NumController" android:value="0,1,2"/>  <!--fill the value of how many controllers the application can support.-->
    </application>
</manifest>
